.image__container {
  display: inline-block;
  width: 60%;
}

.image {
  width: 100%;
}

.button__container {
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  width: 20%
}

.button {
  background-color:green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}