.left__container {
  display: inline-block;
  float: left;
  margin-top: 5px;
  padding: 20px;
  width: 60%;
}

.image {
  width: 100%;
}

.right__container {
  display: inline-block;
  float: right;
  margin-top: 5px;
  text-align: center;
  padding: 20px;
  width: 40%
}

.form {
  margin-bottom: 25px;
  width: 100%;
}

.table {
  width: 100%;
  line-height: 8px;
}

.button-run {
  display: block;
  margin: 50px auto 0px auto;
  background-color:green;
  border: 1px solid black;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 50%;
}

.button-reset {
  display: block;
  margin: 50px auto 0px auto;
  background-color: lightgray;
  border: 1px solid gray;
  color: black;
  font-size: 14px;
  height: 30px;
  width: 40%;
}